.categories{
    padding: 0;
    list-style-type: none;
    margin: 0;
   
    .category{
      padding: 2%;
      border-bottom: 1px solid lightgray;
      height: 30px;
    }

    .selected{
      background-color: firebrick;
      color: white;
    }
    
    .category:hover{
        cursor: pointer;
      }
}