.products {
  padding: 0;
  list-style-type: none;
  margin: 0;

  .handle-quantity-button{
    background: transparent;
    border: none;
  }

  .product {
    padding: 2%;
    display: none;
  }

  .hiddenProd{
    display: block;
  }

  .product:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}
