.wrapper {
  height: 100%;
  width: 100%;
  overflow: none;

  .recap-order {
    overflow:auto;
    li {
      list-style-type: none;
    }
  }
  .wrapper-confirm-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .confirm-button {
    background-color: green;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 10px;
  }
  .disabled{
    background-color: grey;
    color: black;
  }
  
}
